.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;

  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}
.GFG{
  background: #5D6975;
  padding: 25px;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  width: 90px;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
  
  background-image: url("https://scontent.fppn1-1.fna.fbcdn.net/v/t39.30808-6/274806604_1330038810840393_3339985486990591652_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeEs6leKf6DZAb_ePeY5J5Bj2acrGSH5wgPZpysZIfnCA3yT4AZRJzlQihreD0DNxfWBSPQlbnOQKkShANsUJDEV&_nc_ohc=_XR-tx_Ag6MAX-uy5tM&_nc_ht=scontent.fppn1-1.fna&oh=00_AfCiXJP6v2-bVOpvprpDGv3u1OkyLrqxOYTaVLNtnWIZ0w&oe=65D6A80E");
 background-size: 60%;
}



h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(dimension.png);
}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;        
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}