
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Permanent+Marker&family=REM:wght@200&family=Ubuntu&display=swap&family=Lato');  

:root{
    color-scheme: light;

}
*{
   
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
   

}
#bola{

    width: 35px;
    height: 35px;  
    border: 1px solid  rgb(25,118,210);
    position: fixed;
    z-index: 1111;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
body:active  #bola{
    border: 1px solid rgb(58, 157, 228);
    opacity: 1;
}
body:active  #bola_child{
    background-color: rgb(58, 157, 228);

    opacity: 1;
}



#bola_child{
   width: 15px;
    height: 15px;  
    background-color: rgb(25,118,210);
    position: fixed;
    z-index: 1111;
    border-radius: 50%;
   
}

/*body{
position: relative;
min-height: 100vh;
width: 100%;
background: #e7e9f5;

}
.sidebar{
position: fixed;
z-index: 999;
top: 0;
left: 0;
width: 50px;
background: #ffffff;
padding: 6px 16px;
height: 100%;
box-shadow: 5px 0 30px rgba(0,0,0,1);
transition: all .5s ease;

}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
display: flex;
color: blue;
height: 50px;
width: 100%;
font-size: 30px;
margin-left: 5px;
align-items: center;
pointer-events: none;
opacity: 0;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
}
.sidebar .logo_content .logo .logo_name{
font-size: 20px;
font-weight: 600;
margin: 0 10px;

}

.sidebar #btn{
    position: absolute;
    color:b3b3b3;
    left: 50%;
    top: 6px;
    cursor: pointer;
    font-size: 20px; 
    height: 5px;
    width: 5px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}
.sidebar.active #btn{
    left: 85%;
}

.sidebar .src{
position: relative;
height: 50px;
width: 100%;

margin-top: 20px;

}
.sidebar .src input{
    position: absolute;
    height: 100%;
    width: calc(100% - 50px);
    left: 0;
    top: 0;
    border-radius: 20px;
    outline: none;
    border: none;
    background: blue;
    padding-left: 50px;
    font-size:  15px ;
    color: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0.2); 
    transition: all .5s ease;
} 
.sidebar .src .bx-search-alt-2{
    
    position: absolute;
    z-index: 99;
    font-size: 22px;
    color: #ffffff;
}
.sidebar .src .bx-search-alt-2:hover{
    color: blue;
}
.sidebar .src .bx-search-alt-2:hover input{
    background: #ffffff;
}

.sidebar i{
height: 50px;
width: 50px;
border-radius: 12px;
line-height: 50px;
text-align: center;
font-size: 25px;

}
.sidebar ul{
    margin-top: 20px;



}
.sidebar ul li{
    position: relative;
    height: 50px;
    list-style: none;
    width: 100%;
    margin: 0;
    line-height: 50px;
    transition: all .5s ease;
}

.sidebar .link_name{

    opacity: 0;
    pointer-events: none;
}
.sidebar.active .link_name{
    opacity: 1;
    pointer-events: visible;

}

.sidebar ul li a{
    color: #696363;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
    transition: all .4s ease;
}

.sidebar ul li a:hover{
    color:  blue;
    background: #e7e9f5;
}
.sidebar ul li .tooltip{

    position: absolute;
    left: 130px;
    top: 0;
    transform: translate(-45% , -50%);
    border-radius: 10px;
    height: 35px;
    width: 130px;
    line-height: 35px;
    text-align: center;
    font-size: 10px;
    display: block;
    background: #ffffff;
    color:#242424;
    box-shadow: 0 5px 10px rgba(0,0,0.2);
    pointer-events: none;
    opacity: 0;
    transition: all .5s ease-out;

}

.sidebar ul li .sub-tooltip{
    position: absolute;
    left: 130px;
    top: 0;
    transform: translate(-45% , -50%);
    border-radius: 10px;
    height: 200px;
    width: 130px;
    line-height: 35px;
    text-align: center;
    font-size: 10px;
    display: block;
    background: #ffffff;
    color:#242424;
    box-shadow: 0 5px 10px rgba(0,0,0.2);
    pointer-events: none;
    opacity: 0;
    transition: all .5s ease-out;

}


.sidebar.active ul li .tooltip{
display: none;

}
.sidebar ul li:hover .tooltip{
    opacity: 1;
    top: 50%;

}
.sidebar ul li:hover .sub-tooltip{
    opacity: 1;
    top: 50%;

}


.home_conten{
    position: absolute;
    height: 100%;
    width:90%;
    left: 80px;
    background: #696363;


}
.home_conten .text{

    font-size: 25px;
    font-weight: 500;
    color: #242424;
    padding: 12px 24px;
    transition: all .5s ease;
}
.sidebar ~ .home_conten{

   
    transition: all .5s ease;
}

.sidebar.active ~ .home_conten{
   width: 80%;
    left: 300px;
    transition: all .5s ease;
}
*/

/*---------------------------------------*/
@keyframes imgshow{

    from{

        opacity: 0;
        scale: 25%;
    }to{
        opacity: 1;
        scale: 100%;
    }
}
iframe,img,p,h2,.item_services,#sorteos{
    view-timeline-name: --revealing-image;
    animation-name: imgshow;
    animation-fill-mode: backwards;
    animation-timeline: --revealing-image;
    animation-range: entry 35% cover 40%;
}
#info_head{
    width: 100%;
    height: 30px;
    background: rgba(3, 3, 15, 0.87);
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
   
}
#info_head p{
    font-size: 13px;
    color: white;
    vertical-align: middle;
    float: right;
    position: relative;
    border-right: 1px solid white;
    height: fit-content;
    padding-right: 5px;
    
}
#info_head a{
    font-size: 13px;
    color: white;
    vertical-align: middle;
    float: right;
    position: relative;
    margin-left: 8px;
    height: fit-content;
    padding-right: 5px;
    
}
#info_head svg{
    color: white;
}
header{
    width: 100%;
    height: 700px;
    background-image: url("/img/6202241.jpg");
    shape-outside: inset(10px 10px 10px 10px);
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    background-size:100% 100%;
    
    background-repeat: repeat-x;
   


 
}

#content_header{
    width: 700px;
    height: 250px;
  
    bottom: 150px;
    position:absolute;
    left: 155px;
    padding: 15px;
    
}
#content_header h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    
   
}
#content_header p{
    color: white;
    position: relative;
    margin-top: 35px;
    vertical-align: middle;
    line-height: 1.5;
    font-family: "Lato","Avenir",Arial,sans-serif;
    font-weight: 0;
   font-size: 15px;
    
}
#content_header     a{
    width: 150px;height: 28px;
    position: relative;
    color: rgb(12, 12, 12);
   float: right;
    top: 18px;
    border-radius: 25px;
    background: transparent;
    border: 0.5px solid white;
    background: white;
    font-weight: bolder;
    font-size: 15px;
   text-align: center;
   text-decoration: none;
   padding-top: 8px;
    
}
#logo{
    left: 25px;
    position: relative;
    top: 15px;
    width:150px;
    height: 130px;
   opacity: 0.5;
   text-shadow: 0 0 50px #fff;
}
#logo img{
    width:100%;
    height: 100%;
   
}

#title_logo{
    position: relative;
    color: aliceblue;
    left: 20px;
    font-size: 20px;
    font-weight: bolder;
 
     
 }
 #title_logo1{
    position: relative;
    color: aliceblue;
    left: 45px;
    font-size: 15px;
    font-weight: bolder;
 
     
 }
 #title_logo::before{
     content: "S";
     color: #c7f010;
 }
 #title_logo1::before{
    content: "E";
    color: #c7f010;
}
 
.menu{
    width: 50%;
    height: 50px;
  
    display: flex;
   float: right;
    gap: 10%;
   justify-content: center;
  transform: translateX(50%);
   position: relative;
   top: 50px;
   list-style: none;
   
   font-size: 17px;
}
.menu.active{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background: #07286486;
    text-align: center;
    gap: 18px;
    position: absolute;
    width: 80%;
    }
.menu li{
    height: 20px;
    border-bottom: 1px solid white;

}
.menu a{
    text-decoration: none;
    color: white;

}
.menu a:hover{
    color: blue;

}
#toogle_menu{
    position: absolute;
    border: 0;
    visibility: hidden;
    top: 70px;
    cursor: pointer;
    font-size: 39px;
    height: .5px;
    width: 1px;
    text-align: center;
    z-index: 1000;
    border: 0;
    right: 70px;
    list-style: none;
  }


 #lateral{
  width: 0;
    height: 99.9%;
    position: fixed;
   display: block;
   flex-direction: column;
    z-index: 999;
    overflow: hidden;
    
    transition: all .5s ease;
    background: white;
 }
 #lateral.active{
   width: 250px;
   
   background: white;
    z-index: 999;
    
   
    transition: all .5s ease;
 }
 #lateral h3, h5{
    width: 150px;
    text-align: center;
    position: relative;
    top: 15px;
    height: fit-content;
    
 }
 .src .bx-search-alt-2{
    
    position: absolute;
    z-index: 99;
    font-size: 22px;
    color: #3f3b3b;
    margin-left: 5px;
    top: 9px;
   right: 15px;
    
}
 .src .bx-search-alt-2:hover{
    color: blue;
}
.src .bx-search-alt-2:hover input{
    background: #ffffff;
}
.src {
    width: 99%;
    display: flex;
    flex-direction: row;
    height: 40px;
    
    position: relative;
    top: 30px;
    
}
.src input{
    position: relative;
    height: 40px;
    width: calc(100% - 50px);
    left:0;
    border-radius: 20px;
    outline: none;
    border: none;
   
    padding-left: 50px;
    font-size:  15px ;
    
    box-shadow: 0 5px 10px rgba(0,0,0.2); 
    transition: all .5s ease;
} 
 .menu_lateral {
    width: 250px;
    height: fit-content;
    
    display: block;
    top: 45px;
    position: relative;
    font-size: 20px;

 }
 .menu_lateral li{
    margin-top: 20px;
   
    

 }
.item_menu.active{
    color: aqua;


}
 .menu_lateral li a{
    display: flex;
    flex-direction: row;
   text-decoration: none;
   color: #3f3b3b;
   position: relative;
   width: fit-content;
   font-size: 17px;
   left: 30px;
   gap: 15px;
 }
 #lateral p{
   
    position: relative;
   top: 80px;
 }
 #logo_menu{
    width: 99%;
    height: 90px;
    text-align: center;
   
 }
 #lateral img{
    position: relative;
    top: 15px;
    width: 83px;
    height: 80%;
   
 }
 #redes_lateral{

    width: 99%;
    height: 40px;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
   
 }
 #redes_lateral box-icon{
    width: 38px;
    height: 40px;
 }
 #button_lateral{
   display: none;
    opacity: 0;
    width:0px;
    height: 0px;
    background:  rgb(25,118,210);
    position: fixed;
    top: 150px;
    border-radius: 50%;
    z-index: 999;
    transition: all .5s ease;  
    left: -13px;
    box-shadow: -0px -0px 0px 3px  rgba(143, 141, 141, 0.444);
 }

 #button_lateral.show{
    width: 50px;
    height: 50px;
    
    transition: all .5s ease;      
    opacity: 1;
    overflow: hidden;
    
 }
 #button_lateral.active{
    transition: all .5s ease;   
    transform: translateX(250px);
    background: rgba(11, 233, 11, 0.9);
    
 }
 #toogle_menu_lateral{
    position: relative;
    border: 0;
    cursor: pointer;
    font-size: 35px;
    height: 1px;
    width: 1px;
   opacity: 0;
    z-index: 1000;
    color: white;
  
  }
  
.show #toogle_menu_lateral{
    position: relative;
    
    cursor: pointer;
    font-size: 35px;
    height: 1px;
    width: 1px;
   opacity: 1;
    z-index: 1000;
    left: 8px;
    bottom: 8px;
    transition: all .5s ease;  
    
  }
  
  
#sorteos{
    position: relative;
    width: 100%;
    height: fit-content;
    background: #10f0dda3;
   display: flex;
   flex-direction: column;
   gap: 45px;
  padding-bottom: 25px;
  
  background-image: url("/img/23294.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position:bottom;
}
#verano{
    text-decoration: none;
    color: rgb(250, 9, 17);
    position: relative;
    
    line-height: 0.8;
    font-size:100px;
   height: fit-content;
    font-family: 'Dancing Script', cursive;
   
}

#sorteos p{
    position:relative;
    height: fit-content;
    font-size: 40px;
    width: fit-content;
    top: 55px;
    color: wheat;
    
    }
#p_verano::before{
   content:" ......";
   color: transparent;
}
#p_verano{
    
    position:relative;
    color: #f6f5f5;
   
    width: 50%;
    top: 0;
    
}

#descuento{
    text-decoration: none;
    color: red;

}
#cont_rta{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
  align-items: center;
  text-align: center;
 
  vertical-align: middle;
    
}

#valido{

    text-decoration: none;
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: #ecd9d9;
    font-size: 13px;
}
#respuesta{
    width: 100px;
}

#sun{
    
    --size: 90px;
    --color: rgba(255, 0, 25, 0.793);
    position: absolute;
    
    box-shadow: 0 0 40px rgb(255, 38, 0);
    top: 45px;
    right: 60px;
    float: right;
    transform:rotate(45deg);
    animation:beat 1s infinite alternate ease-in-out;
  }
  @keyframes beat{
    to{
      transform: rotate(45deg) scale(1.05);
    }
  }
  
  #sun,
  #sun::before,
  #sun::after{
  
      width: var(--size);
      height: var(--size);
      background:var(--color);
  }
  #sun::before,
  #sun::after{
   
    content:'';
    display: block;
    border-radius:50%;
  }
  #sun::before{
    margin-top: calc(var(--size)*-.5);
   
  }
  #sun::after{
    margin-top: calc(var(--size)* -0.5);
    margin-left: calc(var(--size)* -0.5);
  }
  


@keyframes colors {

    30%{color: yellow;}
    60%{ color: rgb(44, 17, 245);}
    100%{color: red;}
   
}
#btn_obtener{
    position: absolute;
   height: 25px;
    bottom: 5px;
   right: 20%;
    width: 200px;
    vertical-align: middle;
    text-align: center;
    background:#1ebe41f0;
    text-decoration: none;
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 18px;
    border-radius:25px;
    color: white;
    animation: colors 3s   ease-in-out infinite;
    
}

.container{

    width: 100%;
    height: fit-content;
    background: white;
    margin-top: 35px;
    position: relative;
   
   
}
.container h2{
   margin-top: 25px;
   font-size: 30px;
   font-weight: 0;
  text-align: center;
  color: rgb(25,118,210);
  font-family: "Lato","Avenir",Arial,sans-serif;
            
        
    
}
#sect_services{
    width: 100%;
height:fit-content;
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 15px;
margin-top: 55px;
justify-content: center;
}
#cont_services{
width: 100%;
height:fit-content;


}

.item_services:nth-child(2n){

    flex-direction: row-reverse;
}
.item_services{
width: 95%;
height: 400px;
position: relative;
bottom: 0;
display: flex;
flex-direction: row;
overflow-x: hidden;
justify-content: center;
}

.item_services img{
 
    width: 30%;
    height: 100%;
   
}

.item_services img:hover{

opacity: 0.8;
}
.item_name{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   overflow: hidden;
    
}
.item_name:hover{

    background-color: #3f3b3b47;
}
.item_name h2{
    position: relative;
    
    text-decoration: none;
    color: rgb(68, 61, 61);
    text-align: center;
}
.item_name h2:hover {
color: blue;
font-weight: bolder;

}
.item_name p{
    position: relative;
   top: 25px;
    width: 70%;
    line-height: 1.7;
    font-size: 18px;
}





#our_marcas{

    width: 100%;
    height: fit-contents;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    border-bottom: 1px solid gray;
    justify-content: center;
}
#our_marcas img{

    width: 130px;
    height: 150px;
}

#galeria{
    width: 100%;
    height: fit-content;
    position: relative;
   text-align: center;


}

#video_section{
    position: relative;
    width: 100%;
    height: fit-content;
   text-align: center;
   
}
#imagen_section{
    
    display: flex;
    position: relative;
    flex-direction: row;
    width: 98%;
    height: 250px;
    overflow: hidden;
    overflow-x: scroll;
    gap: 5px;
    left: 5px;
    right: 5px;
}
#imagen_section img{

    width: 260px;
    height: 100%;
}
#whatsapp{
            
    height: fit-content;
    position: fixed;
    right: 20px;
    bottom: 48px;
    z-index: 99;
    background:#1ebe41f0;
    border-radius:30px;
    text-decoration: none;
    font-size: 25px;
    padding-top:10px ;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    padding-left: 5px;
    padding-right: 8px;
    
}
#celphone{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0;
    margin: 0;
   
}
.contact_icon{
    
    vertical-align: middle;

}
#subir{
font-weight: bold;
border: 0;
background: transparent;
font-size:50px;
position: fixed;
z-index: 1000;
right:  17px;
bottom: 55px;
opacity: 0;
}
#subir.show {      
opacity: 1;  
transition: opacity 1s, transform 1s;     
}
#whatsapp svg{
    width: 20px;
    height:16px ;
    vertical-align: middle;
    
}
#redes_flotante{
width: fit-content;
border-radius: 30%;
position: fixed;
height: fit-content;
z-index: 99;
bottom: 15%;
right: 18px;
align-items: center;
display: flex;
flex-direction: column;

}
#facebook_float,#insta_float, #youtobe_float{
border-radius: 30%;
width: 35px;
height: 32px;
position: relative;

}
#facebook_float:hover{
box-shadow: 3px 3px 3px 1px rgba(51, 38, 233, 0.692);


}
#insta_float:hover{
box-shadow: 3px 3px 3px 1px rgba(219, 25, 115, 0.479);
}
#youtobe_float:hover{
box-shadow: 3px 3px 3px 1px rgba(219, 25, 25, 0.479);
}
#whatsapp{
    width: 250px;
    height: 30px;
    border-radius: 120px 0px 120px 120px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 99;
    background:#f6f8f6f0;
   vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    padding-top:15px ;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(9, 6, 6);
    transition: 0.5s ease-in;
    
}
#whatsapp.normal{
    
    background:#1ebe41f0;
    color: white;
    transition: 0.5s ease-in;
}
#aboutus{
    display: flex;
    flex-direction: column;
  position: relative;
    width: 99%;
    height: fit-content;
  
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 35px;

}
#aboutus h2{
    color: rgb(25,118,210);
}
#desc_about{
    line-height: 1.2;
   position: relative;
    width: 50%;
    font-weight: 0;
    font-family: "Lato","Avenir",Arial,sans-serif;
   
}

   
footer{
    
    width: 100%;
    height:fit-content;
    background: black;
    position: fixed;
    z-index: -1;
    
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-top:15px ;
    --heigth:150px;
    
}
#space_foot{

    width: 100%;
    height: calc(250px);
    background: transparent;
}
#redes_footer{
width:300px ;
height: 200px;
padding: 5px;
color: white;

}
#redes_footer h5{
    font-family: "Rubik", Sans-serif;
    border-bottom: 1px solid red;
    margin-left: 100px;
    width: fit-content;

}
#contact_footer{
width:300px ;
height: 200px;
position: relative;
display: flex;
flex-direction: column;
overflow: hidden;
gap: 25px;
padding: 5px;
color: white;
font-family: "Rubik", Sans-serif;

}
.contact_item{
   
    color:yellow;
   text-decoration: none;
    font-family: "Rubik", Sans-serif;
    
    
   
}
#servicios_footer{
width:300px;
height: 200px;
display: flex;
flex-direction: column;

padding: 8px;
gap: 20px;
color: white;
}
 .serviciosFoot{
    color: yellow;
    font-family: "Rubik", Sans-serif;
 }
#servicios_footer h3, #contact_footer h3{
    text-decoration: underline

}

#redes_icon{
    width: 90%;
    height: 30px;
   position: relative;
   display: flex;
   top: 50px;
   float: right;
   flex-direction: row;
  
   gap: 25px;

}
#redes_icon a{
    width:25px;
    height: 100%
    
}
#icon_facebook{

    width: 30px;
    height: 100%;
    border-radius: 30%;
}


@media only screen
and (min-width: 120px)
and (max-width: 856px)

{
    footer{

        position: relative;
    }
    #space_foot{

        display: none;
    }
   #content_header{

    display: none;
   }
   #sun{
    
    --size: 70px;
   }
   .item_services.item_services:nth-child(2n){
    
    flex-direction: column-reverse;
   
    }
    .item_services img{

        width: 80%;
        height: 200px;
    }
    .item_name{
        width: 100%;
        height: 400px
    }
    .item_name p{
        width: 100%;
        padding: 5px;
        text-align: justify;
    }
   .item_services{
    align-items: center;
    flex-direction: column-reverse;
   height: fit-content;
    }
    #desc_about{

        width: 80%;
    }
    #sorteos p{
        position:relative;
        
        font-size: 25px;
    }
    #verano{
        font-size:75px;
    }
       
    
    #info_head{

        display: none;
    }
    .menu{
      display: none;
      position: absolute;
      right: 25px;
    
    }
    .menu li{
        border-bottom:0px ;
      
      }
      #button_lateral{
        display: block;
      }
      
#toogle_menu{
    visibility: visible;
    color: white;
    background-color: transparent;
}
#logo img{
    width:70%;
    height: 70%;
}
header{
    
    height: 250px;
}
   
#bola{
    opacity: 0;
}

}
